<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071336021440-vkau023kqad4vei5utq0q2npfqef9cag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071336021440-vkau023kqad4vei5utq0q2npfqef9cag</string>
	<key>API_KEY</key>
	<string>AIzaSyAWu-NIQ9bD1Kfob1m0f3Dknzw66uenBDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1071336021440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.heryerpark.vendor</string>
	<key>PROJECT_ID</key>
	<string>heryerpark-ms</string>
	<key>STORAGE_BUCKET</key>
	<string>heryerpark-ms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071336021440:ios:9236a6b9ed5a13d3937c25</string>
</dict>
</plist>